@font-face {
  font-family: SF Pro;
  src: url(../fonts/SF-Pro-Text-Regular.otf) font-style: normal
}

:root {
  --red: #F96057;
  --yellow: #F8CE52;
  --green: #5FCF65;
  --oval: rgba(0, 0, 0, 0.1);
  --inactive: rgba(0, 0, 0, 0.05);
}

.traffic__lights {
  position: absolute;
  width: 52px;
  height: 12px;
  left: 8px;
  top: 8px;
}

.traffic__light,
.oval {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all 0.05s ease-in-out;
}

.traffic__light {
  background: var(--inactive);
}

.oval {
  border: 0.5px solid var(--oval);
}

.close {
  left: 0px;
}

.minimize {
  left: 19.89px;
}

.maximize {
  left: 39.89px;
}

.red {
  background: var(--red);
}

.yellow {
  background: var(--yellow);
}

.green {
  background: var(--green);
}
